sphinx==3.4.1
sphinx-automodapi
sphinx-autodoc-typehints==1.10.3
sphinx-paramlinks
autodocsumm
pypandoc
m2r2
numpy
scipy
shapely
networkx
trimesh
triangle
matplotlib
vispy
mapbox_earcut
pyclipper
scikit-image
cython
pycork
PyQt5