sphinx
sphinx-automodapi
sphinx-autodoc-typehints
sphinx-paramlinks
autodocsumm
pypandoc
sphinx_rtd_theme
m2r2
mock
numpy
scipy
shapely>=2.0
networkx
trimesh>=4.0.0
triangle
matplotlib
vispy
mapbox_earcut
scikit-image
PyQt5
pyclipr >= 0.1.7
manifold3d